
body {background-image: url(../images/168627-brown-textured-background-image\ \(1\).jpg);
  display: block;
margin: 0;
}



header {background-image: url(../images/red\ abstract.jpg); 
    align-items: flex; 
    height: 275px;
    top: 0;
    flex-wrap: wrap; 
    background-size: cover;
    }

    header h2{font-size: 30px; 
        font-weight:bold; 
        font-family: Arial, Helvetica, sans-serif; 
        margin: 10px;
        color: rgb(38, 219, 38);
       }
  
      header h3 {color: rgb(38, 219, 38); 
        font-weight: bold;
        text-align: left;
        text-align: left;
      margin: 10px;
      
      }
  header a {font-size: 30px; 
    color: rgb(38, 219, 38);
  
  
  }
  a:hover {color: red;}
  


  nav {align-items: flex; 
    text-align: right;
    height: 50px;
        top: 0;
        margin: 0;
    flex-wrap: wrap; 
    background-size: cover;
    background-image: url(../images/painted-grey-background-with-metal-texture_125540-779.jpg);
  }

nav li {display: inline; padding: 40px;
color: rgb(38, 219, 38);

}


  .matthew-b {float: right;
     position: relative; 
    top: -115px;
    }
  
    #matt {border: 5px double rgb(78, 2, 2);
      border-radius: 50%;
      padding: 5px;
      }
   
/*End of Header */

.top-section {display: flex;
    flex-wrap: wrap;
  flex-direction: column;
  background-color: peru; 
  width:325px;
  height: 460px;
  margin-left: 15px;
  margin-top: 10px;
 vertical-align: middle;}
    
 .top-section-box-1 {flex: 2;
  flex-grow: 2; 
  flex-shrink: 1;
  flex-basis: 0%;
} 
  
  .top-section > h3 {
    text-align: center;
    padding-right: 15px;
    color: black;
      }
  
      .top-section p {text-align: left; 
        font-size: 20px;
        display:block; 
        color: black;
      flex-direction: column;}
  
      .about-me { border-style: double; border-width: 10px;
        background-color: peru; }


        /* Try width 100%*/


        .middle-section {display: flex;
          margin: 80px 0 0 900px;
          margin-left: 900px;
          padding: 10px 0;
          width: 360px;
          right: 500px;
         
          border-width: 10px;
          border-style: double;
          align-items: center;
          }
          
          .middle-section-box-1 {flex: 2;
            flex-grow: 2; 
            flex-shrink: 1;
            flex-basis: 0%;
            position: absolute;
            left: 1000px;
            
          }
          .middle-section li {display: inline; }

.middle-section h2 {
            font-size: 40px;
            color: black;
            border-bottom: 3px solid;
            padding-bottom: 20px;
            text-align: center;
            margin: 25px;
                     }

.middle-section h4 {
  font-size: 15px;
  color: black;
   text-align: center;  
   
       }



  .samples div, .middle-section div, .top-section div{

  border-color: black;
    border-style: double;
  
  }   
     
   .samples{
    display:flex;  
    flex-wrap:wrap;
    justify-content:space-between;
   
  }



  .sample-boxes-main {flex-basis: auto;
    width: 1000px;
  height: 630px;
margin: 100px 100px 0 500px;
background-image: url(../images/seamless-texture-crumpled-paper-free.jpg);}


       .sample-boxes {flex-basis: auto;
        width: 600px;
      height: 445px;
    margin: 100px;
    background-image: url(../images/seamless-texture-crumpled-paper-free.jpg);}



/*samples images*/



#sample-main {
  width: 950px;
  height: 550px;
  margin-top: -20px;
  padding: 20px;
   }      

#sample {
  width: 570px;
  height: 376px;
  margin-top: -20px;
  padding: 20px;
   }      
     

   .sample-boxes-main h3 {
    text-align: center;
    padding-right: 0;
    color: black;
    text-shadow: 0 0 10px rgb(134, 132, 132);
      } 


       .sample-boxes h3 {
        text-align: center;
        padding-right: 0;
        color: black;
        text-shadow: 0 0 10px rgb(134, 132, 132);
          } 
      .sample-hover :hover {color: red;} 



/*Footer */


footer {display: flex;
  justify-content: space-between;;
    
  background-color: rgb(53, 132, 151); 
  bottom: 0; 
  width: 100%;

height: 150px;
}      



    footer a {font-size: 30px; 
      color: rgb(38, 219, 38);
    float:left
    }

    a:hover {color: red;}


   
  
  







    

/*Nothing below these*/

    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

    @media screen and (max-width: 980px) {
      .samples {flex: 50%;
        max-width: 50%;
         }

      }

        @media screen and (max-width: 768px) {
          section {
            padding: 30px 15px;}
        }


        @media screen and (max-width: 575px) {

          .hero-form button {
            width: 100%;}
        }
      
