
* {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}



body {background-image: url(../images/168627-brown-textured-background-image\ \(1\).jpg);
  /* display: block; */
margin: 0;

}

#demo-cards{
margin: 150px;
}

h3 {
  color: white;
font-size: large;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  height: 2.5rem;            /* Footer height */
}