* {margin: 0; padding: 0; box-sizing: border-box;}

body {background-color: rgb(136, 44, 121);}

/*Start header */

header {padding: 25px; height: 200px;
    background-color: rgb(53, 132, 151); box-sizing: border-box;}

    header h2{font-size: 30px; font-weight:bold; font-family: Arial, Helvetica, sans-serif; color: black;}
header a {font-size: 30px; color: black;}
a:hover {color: darkblue;}


.matthew {float: right; position: relative; top: -75px;;}

  img {border: 5px double rgb(78, 2, 2);
    border-radius: 50%;
    padding: 5px;
    width: 150px;}

/*End header */


.about-me {width: 50%; height: 200px;margin:0 auto; display: block; flex-wrap: wrap; justify-content: space-around; border-style: double; border-width: 10px;
background-color: peru; display: flex;}

.about-me p {text-align: center; font-size:x-large ; display:block; color: black;}


aside {display: block;}
.resume {width:20%; height: 600px; border-style: double; border-width: 10px;
  background-color: peru; float: left; padding: 20px;margin: 20px;}

.resume p {text-align: justify; font-size: 17px; ; display:block; color: black;}


div {text-align: center; font-size: 60px; color: burlywood; margin: 50px;}




section {display: flex;}
  .samples {flex-wrap: wrap; flex: 200px;
      width: 25%;padding: 50px; height: 300px;
           margin: 50px;
           text-align: center;
           line-height: 75px;
           font-size: 30px; position:relative; 
           background-image: url(../images/seamless-texture-crumpled-paper-free.jpg); opacity: .5
         }

        
        
